.kalenux-image-display {
    background-position: center;
    background-size: cover;
}

.kalenux-image-display {
    width: 15rem;
    height: 15rem;
}

.kalenux-image-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 2;
}

.kalenux-image-adder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
}

.kalenux-image-holder {
    margin: auto;
    display: flex;
    align-self: center;
    justify-content: center;
    position: relative;
}

.kalenux-image-holder:hover {
    opacity: 0.5;
}