.kalenux-onoff:checked+.kalenux-onoff-bar {
    background: seagreen;
}

.kalenux-onoff-bar {
    width: 3.5rem;
    height: 1.2rem;
    background: gray;
    border-radius: 3rem;
    transition: 0.3s;
}

.kalenux-onoff-toggle {
    width: 1.5rem;
    background: lightgray;
    border-radius: 3rem;
    height: 1.5rem;
    transform: translate(0%, -50%);
    top: 50%;
    left: 0;
    position: relative;
    transition: 0.3s;
    z-index: 1;
}

.kalenux-onoff:checked+.kalenux-onoff-bar .kalenux-onoff-toggle {
    background: mediumseagreen;
    left: 100%;
    transform: translate(-100%, -50%);
}

.kalenux-onoff {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    z-index: 2;
}

.kalenux-onoff-holder {
    display: flex;
    position: relative;
    margin: auto;
    align-self: center;
    justify-content: center;
}